.header {
  &__menu {
    display: flex;
    z-index: 101;
    transform: translateX(100%);
    transition: .35s;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    width: 580px;
    padding-left: 100px;
    padding-right: 100px;
    height: 100%;
  }

  &__nav-link {
    font-size: 48px;
    line-height: 162%;
    font-weight: 500;
  }

  &__contacts {
    margin-bottom: 33px;
    font-size: 16px;
    line-height: 162%;
    font-weight: 400;
  }

  &__number {
  }

  &__phone {
  }

  &__socials {
  }

  &__socials-item:hover a img {
    transform: scale(1.3);
  }

  &__socials-item a img {
    transition: .35s;
  }
}

.header__btn {
  transition: .35s;
  cursor: pointer;
}

.header__btn:hover {
  transform: scale(1.1);
}

.close-btn {
  align-self: flex-end;
  color: #0e0e0e;
  margin-bottom: 55px;
  font-size: 40px;
}
@media (max-width: 550px) {
  .header__menu {
    padding-right: 0;
    width: 400px;
  }
}

@media (max-width: 450px) {
  .header__text {
    font-size: 35px;
  }

  .header__menu {
    width: 340px;
  }
}

@media (max-width: 350px) {
  .header__menu {
    width: 340px;
  }
}
