@import '_reset.scss';
@import '_fonts.scss';
@import '_modules.scss';
@import '_header';
.overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background: #0e0e0e;
  opacity: 0.3;
  z-index: 100;
}
/////////////////////////////////////
.header__logo {
  color: #0e0e0e;
}
.header__btn path {
  fill: #0e0e0e;
}
.header {
  background-color: #Fff;
  margin-bottom: 113px;
}
.header__nav-link, .header__number, .header__phone {
  color: #0e0e0e;
}
//////////////////////////////////////
.main {
  padding-bottom: 160px;
		&__inner {
      display: flex;
      justify-content: space-between;
		}

		&__images {
      row-gap: 20px;
      display: flex;
      flex-direction: column;
      margin-right: 30px;
		}

		&__img {
      max-width: 585px;
      img {
        width: 100%;
      }
		}
}
.container {
}
.about-work {
  max-width: 400px;
}
.about {

		&__title {
      font-weight: 500;
      font-size: 48px;
      line-height: 121%;
      color: #0e0e0e;
      margin-bottom: 41px;
		}

		&__desc {
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: #0e0e0e;
      padding-bottom: 42px;
      border-bottom: 1px solid #0e0e0e;
      margin-bottom: 36px;
		}

		&__info {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      row-gap: 14px;
		}

		&__info-item {
      font-weight: 400;
      font-size: 15px;
      line-height: 127%;
      color: #0e0e0e;
      span {
        font-weight: 600;
        margin-right: 10px;
      }
      img {
        margin-right: 5px;
      }
      img:last-child {
        margin-right: 0;
      }
		}
}
//////////////////////////////////////
.nav {
  padding-bottom: 40px;
  padding-top: 40px;
  border-top: 1px solid #0e0e0e;

		&_inner {
      display: flex;
      justify-content: space-between;
		}
}
.container {
}
.arrow-left {
}
.arrow {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  transition: .35s;
}
.arrow:hover {
  transform: scale(1.1);
}
.all {
  padding: 13px 14px;
  background-color: #f5f5f5;
  border-radius: 50%;
  cursor: pointer;
  transition: .35s;
}
.all:hover {
  background-color: #e6e3e3
}
.arrow-right {
}

/////////////////////////////////////
@media (max-width: 600px){
  .about__title {
    font-size: 36px;
  }
  .about__desc {
    font-size: 15px;
  }
  .about__info-item {
    font-size: 12px;
  }
}
@media (max-width: 550px){
  .about__info {
    grid-template-columns: repeat(1,1fr);
  }
}
@media (max-width: 500px){
  .main__inner {
    flex-direction: column-reverse;
    align-items: center;
  }
  .about-work {
    margin-bottom: 60px;
  }
  .main__images {
    margin-right: 0;
  }
}
@media (max-width: 400px){
  .arrow {
    font-size: 12px;
  }
}
////////////////////////////////////
@import '_header-v2-media';
@import '_footer-v2';